body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
}

main{
    width: 100%;
    display: flex;
}

footer{
    width: 100%;
    display: flex;
}


.texte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.texte textarea{
    width: 50%;
    height: 20rem;

}

textarea::placeholder{
    font-size: 2rem;
    color: rgb(70, 70, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 20vh;
    resize: none;
}